@model Deltafs.WorkExperience.MiniProject.Models.Team

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
     @*TODO: 7b) Uncomment the below code (remove the @@*s) and complete to list all players of this team. We want it to show the name and number of the player.
      hint: It may be easy to use .ToString() here.
      You should also make sure that they are sorted in an order of your choice (e.g. Name or Number) ... use .OrderBy(...) function to acheive this.*@
    <dl class="row">
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Players)
      </dt>
      <ul>
        @foreach (var player in Model.Players.OrderBy(p => p.Number))
        {
          <li>
              @player.ToString()
          </li>
        }
      </ul>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
