@model IEnumerable<Deltafs.WorkExperience.MiniProject.Models.Player>

@{
	ViewData["Title"] = "Players";
}

<h1>@ViewData["Title"]</h1>

<p>
	<a asp-action="Create">Add a player</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.FirstName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LastName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Number)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Position)
			</th>

			<!-- TODO: 3e) Add another column to show the 'Position' label -->
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.FirstName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LastName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Number)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Position)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Team.Name)
				</td>
				<!-- TODO: 3e) Add another column to show the 'Position' value -->
				<!-- TODO: 4b) Add the Name of the players team here following the examples above. (item.Team.Name) -->
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
